{% extends 'index.html' %}
{% load static %}
{% block content %}

<div class="container" style="margin-top:50px">
    <h2 class="text-center" style="margin-top: 50px;">Payment Details</h2>
    <br><br>
        <label class="row">
                <h4 class="col-sm-4">
                Total
                </h4>
        </label>
        <label class="row">
                <h6 class="col-sm-4">
                Number Of Students who Paid fees:
                </h6>
                <h6 class="col-sm-8">
                <a href="{% url 'register:paid_fees' %}">{{ p }}</a>
                </h6>
        </label>
        <label class="row">
                <h6 class="col-sm-4">
                Number Of Students who Paid zero fees:
                </h6>
                <h6 class="col-sm-8">
                <a href="{% url 'register:paid_fees_zero' %}">{{ up }}</a>
                </h6>
        </label>
        <label class="row">
                <h6 class="col-sm-4">
                Number Of Students who Paid partial fees:
                </h6>
                <h6 class="col-sm-8">
                <a href="{% url 'register:paid_fees_partial' %}">{{ count }}</a>
                </h6>
        </label>
        <br>
        <label class="row">
                <label class="col-sm-4">
                Total Fee To be recieved:
                </label>
                <label class="col-sm-8">
                {{ t.total_fee__sum }}
                </label>
        </label>
            <label class="row">
                <label class="col-sm-4">
                Recieved Fee:
                </label>
                <label class="col-sm-8">
                {{ f.fee_recieved__sum }}
                </label>
            </label>
            <label class="row">
                <label class="col-sm-4">
                Not Recieved Fee:
                </label>
                <label class="col-sm-8">
                {% if  remain == 0 and message == 'None' %}
                    {{ message }}
                {% else %}
                    {{ remain }}
                {% endif %}
                </label>
            </label>
<br><br>
        <label class="row">
                <h4 class="col-sm-4">
                First Standard
                </h4>
        </label>
         <label class="row">
                <h6 class="col-sm-4">
                Number Of Students who Paid fees:
                </h6>
                <h6 class="col-sm-8">
                <a href="{% url 'register:paid_fees_first' %}">{{ p1 }}</a>
                </h6>
        </label>
        <label class="row">
                <h6 class="col-sm-4">
                Number Of Students who Paid zero fees:
                </h6>
                <h6 class="col-sm-8">
                <a href="{% url 'register:paid_fees_firstz' %}">{{ up1 }}</a>
                </h6>
        </label>
        <label class="row">
                <h6 class="col-sm-4">
                Number Of Students who Paid partial fees:
                </h6>
                <h6 class="col-sm-8">
                <a href="{% url 'register:paid_fees_first_partial' %}">{{ count1 }}</a>
                </h6>
        </label>
        <label class="row">
                <label class="col-sm-4">
                Total Fee To be recieved:
                </label>
                <label class="col-sm-8">
                {{ t1.total_fee__sum }}
                </label>
        </label>
            <label class="row">
                <label class="col-sm-4">
                Recieved Fee:
                </label>
                <label class="col-sm-8">
                {{ f1.fee_recieved__sum }}
                </label>
            </label>
            <label class="row">
                <label class="col-sm-4">
                Not Recieved Fee:
                </label>
                <label class="col-sm-8">
                {% if  remain1 == 0 and message == 'None' %}
                    {{ message }}
                {% else %}
                    {{ remain1 }}
                {% endif %}
                </label>
            </label>
        <br><br>
        <label class="row">
                <h4 class="col-sm-4">
                Second Standard
                </h4>
        </label>
         <label class="row">
                <h6 class="col-sm-4">
                Number Of Students who Paid fees:
                </h6>
                <h6 class="col-sm-8">
                <a href="{% url 'register:paid_fees_second' %}">{{ p2 }}</a>
                </h6>
        </label>
        <label class="row">
                <h6 class="col-sm-4">
                Number Of Students who Paid zero fees:
                </h6>
                <h6 class="col-sm-8">
                <a href="{% url 'register:paid_fees_secondz' %}">{{ up2 }}</a>
                </h6>
        </label>
        <label class="row">
                <h6 class="col-sm-4">
                Number Of Students who Paid partial fees:
                </h6>
                <h6 class="col-sm-8">
                <a href="{% url 'register:paid_fees_second_partial' %}">{{ count2 }}</a>
                </h6>
        </label>
        <label class="row">
                <label class="col-sm-4">
                Total Fee To be recieved:
                </label>
                <label class="col-sm-8">
                {{ t2.total_fee__sum }}
                </label>
        </label>
            <label class="row">
                <label class="col-sm-4">
                Recieved Fee:
                </label>
                <label class="col-sm-8">
                {{ f2.fee_recieved__sum }}
                </label>
            </label>
            <label class="row">
                <label class="col-sm-4">
                Not Recieved Fee:
                </label>
                <label class="col-sm-8">
                {% if  remain2 == 0 and message == 'None' %}
                    {{ message }}
                {% else %}
                    {{ remain2 }}
                {% endif %}
                </label>
            </label>
        <br><br>
        <label class="row">
                <h4 class="col-sm-4">
                Third Standard
                </h4>
        </label>
         <label class="row">
                <h6 class="col-sm-4">
                Number Of Students who Paid fees:
                </h6>
                <h6 class="col-sm-8">
                <a href="{% url 'register:paid_fees_third' %}">{{ p3 }}</a>
                </h6>
        </label>
        <label class="row">
                <h6 class="col-sm-4">
                Number Of Students who Paid zero fees:
                </h6>
                <h6 class="col-sm-8">
                <a href="{% url 'register:paid_fees_thirdz' %}">{{ up3 }}</a>
                </h6>
        </label>
        <label class="row">
                <h6 class="col-sm-4">
                Number Of Students who Paid partial fees:
                </h6>
                <h6 class="col-sm-8">
                <a href="{% url 'register:paid_fees_third_partial' %}">{{ count3 }}</a>
                </h6>
        </label>
        <label class="row">
                <label class="col-sm-4">
                Total Fee To be recieved:
                </label>
                <label class="col-sm-8">
                {{ t3.total_fee__sum }}
                </label>
        </label>
            <label class="row">
                <label class="col-sm-4">
                Recieved Fee:
                </label>
                <label class="col-sm-8">
                {{ f3.fee_recieved__sum }}
                </label>
            </label>
            <label class="row">
                <label class="col-sm-4">
                Not Recieved Fee:
                </label>
                <label class="col-sm-8">
                {% if  remain3 == 0 and message == 'None' %}
                    {{ message }}
                {% else %}
                    {{ remain3 }}
                {% endif %}
                </label>
            </label>
<br><br>
        <label class="row">
                <h4 class="col-sm-4">
                Forth Standard
                </h4>
        </label>
         <label class="row">
                <h6 class="col-sm-4">
                Number Of Students who Paid fees:
                </h6>
                <h6 class="col-sm-8">
                 <a href="{% url 'register:paid_fees_forth' %}">  {{ p4 }}</a>
                </h6>
        </label>
        <label class="row">
                <h6 class="col-sm-4">
                Number Of Students who Paid zero fees:
                </h6>
                <h6 class="col-sm-8">
                <a href="{% url 'register:paid_fees_forthz' %}">{{ up4 }}</a>
                </h6>
        </label>
        <label class="row">
                <h6 class="col-sm-4">
                Number Of Students who Paid partial fees:
                </h6>
                <h6 class="col-sm-4">
                <a href="{% url 'register:paid_fees_forth_partial' %}">{{ count4 }}</a>
                </h6>
        </label>
        <label class="row">
                <label class="col-sm-4">
                Total Fee To be recieved:
                </label>
                <label class="col-sm-8">
                {{ t4.total_fee__sum }}
                </label>
        </label>
            <label class="row">
                <label class="col-sm-4">
                Recieved Fee:
                </label>
                <label class="col-sm-8">
                {{ f4.fee_recieved__sum }}
                </label>
            </label>
            <label class="row">
                <label class="col-sm-4">
                Not Recieved Fee:
                </label>
                <label class="col-sm-8">
                {% if  remain4 == 0 and message == 'None' %}
                    {{ message }}
                {% else %}
                    {{ remain4 }}
                {% endif %}
                </label>
            </label>
{% endblock content %}


